.add-estimate-component {
  margin: 1.25rem 0;
  background-color: #f0f0f0;
  box-shadow: 0.25rem 0.25rem 0.5rem #c4c4c4, -0.25rem -0.25rem 0.5rem #ffffff;
  transition: all 0.3s ease;
}

.add-estimate-component:hover {
  box-shadow: 0.375rem 0.375rem 0.625rem #c4c4c4,
    -0.375rem -0.375rem 0.625rem #ffffff;
}
