.abstract-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ReactModal__Content {
  background-color: #fff;
  border: 0.1px solid #ccc;
  padding: 1rem;
  max-width: 400px;
  width: 80%;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  height: fit-content;
  height: -moz-fit-content;
  margin: auto;
  transition: all 0.3s ease;

  p {
    margin-bottom: 0.5rem;
    font-size: 14px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 14px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: #0056b3;
    }
  }
}
